body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
  width:100%;
}

.info {
  padding: 6px 18px;
  font: 11px/12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  }
  .legend {
  background-color: “black”;
  line-height: 25px;
  color: #555;
  width: auto;
  }
  .legend i {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 20px;
  opacity: 0.9;
  }



  